<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.CV" version="4.6.0.5131" />
  <package id="Emgu.CV.runtime.windows" version="4.6.0.5131" />
  <package id="Emgu.runtime.windows.msvc.rt.arm64" version="19.33.31630" />
  <package id="Emgu.runtime.windows.msvc.rt.x64" version="19.33.31630" />
  <package id="Emgu.runtime.windows.msvc.rt.x86" version="19.33.31630" />
  <package id="K4AdotNet" version="1.4.13" />
  <package id="libjpeg-turbo-net" version="2.0.15" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="NETStandard.Library" version="1.6.1" />
</packages>